language: c
env:
  - TRAVIS_PYTHON_VERSION=2.7
  - TRAVIS_PYTHON_VERSION=3.6
  - TRAVIS_PYTHON_VERSION=3.7
os:
  - osx

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]] ; then curl https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -o miniconda.sh ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]] ; then curl https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -o miniconda.sh ; fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda config --add channels conda-forge
  - conda update -q conda
  - conda info -a

install:
  - conda create -n foo -c conda-forge PYTHON=$TRAVIS_PYTHON_VERSION flake8 nose
  - source activate foo
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]] ; then conda install -c conda-forge --yes libcxx libcxxabi cctools clang clang_osx-64 compiler-rt ld64 llvm llvm-lto-tapi ; fi
  - python ./setup.py install

script: 
  - flake8 . --exclude=build,deeptoolsintervals/__init__.py --ignore=E501,F403,E40,E722
  - cd ~/ && nosetests --with-doctest deeptoolsintervals
